$deskingTable:'.desking-table'; // namespace for component

#{$deskingTable} {
  width: 100%;
  padding: 10px;

  &__title {
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-bottom: 15px;
  }

  table {
    width: 100%;

    thead {
      tr {
        th {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 13px;
        }
      }
    }
  }
}
